body{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column1{
    padding: 15px;
    background-color: #c5faf5;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
  }
  .column1 img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  .column2{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .card1{
    padding:15px;
    background-color: #f9f4b1;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
  
  }

  .column3 img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-bottom:30px;
  }
  .column3{
    padding: 15px;
    background-color: #dcd5f1;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
  }
  
  .container1{
    display: flex;
    justify-content:space-between;

  }
  .container2{
    display: flex;
    justify-content: space-evenly;
  }
  .container3{
    display: flex;
    justify-content:space-between;
  }
  .container4{
    display: flex;
    justify-content:left;
  }
  .container5{
    display: flex;
    justify-content:space-between;
  }
  .container6{
    display: flex;
    justify-content:space-evenly;
  }
  .container7{
    display: flex;
    justify-content:right;
  }
  .card2{
    padding: 15px;
    background-color: #f7ced2;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
  }
  .just{
    text-align:center;
  
  }
